
<div id="map_container">
	<div id="form">
		<%= render partial: 'places/new', local: {place: @place} %>
	</div>
	
	<div id="feed">
		<%= render partial: 'places/show', local: {place: @place} %>
	</div>

	
	<div id="map"></div>
</div>
