// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup {
	position: absolute;
	top: 8vh;
	left: 39%;
	right: 40%;
	width: 300px;
	text-align: center;
	z-index: 10;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

	h1 {
		padding-bottom: 30px;
	}

	label {
		font-size: 22px;	
	}
}